.fy-header-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 1em;
    margin: 0.4em 0em;
    position: relative;
}
.fy-header-container .fy-header-menu{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.fy-header-container .fy-header-menu li {
    background-color: transparent;
    padding: 1em 1.4em;
    transition: background-color .3s ease-in, color .3s ease-in-out ;
    cursor: pointer;
    margin: 0 .2em;
    user-select: none;
}

.fy-header-container .fy-header-menu li:hover{
    background-color: var(--secondaryColor);
    color: white;
}