.fy-main-container{
    position: relative;
    width: 80%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fy-main-container .avatar{
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background: url('https://avatars1.githubusercontent.com/u/28671359?s=400&u=045843a1da9e3b65d6bc1ede3243bee0c3d65cc6&v=4')
}